body{
  margin: 0px;
  padding: 0px;
}
.container {
  display: grid;
  grid-template-areas:
  'nav header logo'
  'mihi mihi profile'
  'paragraph paragraph paragraph'
  'lists lists lists'
  'footer footer footer';
  background-color: #ffffff;
}
.nav{
  grid-area: nav;
  background-color: black;
   p{
    font-family: "SN Pro", sans-serif;
    color: gold;
    padding-left: 10px;
    margin: 0%;
  }
  a {
    font-family: "SN Pro", sans-serif;
    color: gold;
    padding-left: 10px;
  } 
}
.header {
  grid-area: header;
  text-align: center;
  background-color: black;
  h1 {
    margin: 0px;
    font-size: 60px;
    font-family: "SN Pro", sans-serif;
    color: white;
  }

}
.logo {
  grid-area: logo;
  background-color: black;
  img{
    float: right;
    width: 110px;
    height: 110px;
  }
}
.mihi {
  grid-area: mihi;
  background-color: white;
  h1{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
  }
  h3{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
  }
}
.profile{
  grid-area: profile;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  #profile {
    margin: 10px;
    margin-bottom: 0px;
    border: 6px solid black;
  }
  h2{
    font-family: "SN Pro", sans-serif;
  }
}
.paragraph{
  grid-area: paragraph;
  background-color: white;
  h1{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
  }
  p{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
    width: 80%;
  }
}
.lists{
  grid-area: lists;
  background-color: white;
  h1{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
  }
  h3{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
    width: 80%;
  }
  p{
    font-family: "SN Pro", sans-serif;
    padding-left: 10px;
    width: 80%;
  }
}
footer{
  grid-area: footer;
  background-image: url(footer.jpg);
  p{
    color: white;
    text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
    padding-left: 4px;
  }
}